.gallery {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 156px;
    gap: 24px 48px;
    list-style: none;
    margin: 0;
    justify-content: center;
}

.gallery-item {
    width: calc((100%-48px)/3);
    /* width: 360px; */
    height: 300px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.modal {
    width: 1112px;
    height: 640px;
}