
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 100px 156px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px 48px;
    padding: 0;
  }
  
  .gallery__item {
    display: block;
    width: calc(33.333% - 10px);
    text-decoration: none;
    color: #333;
  }
  
  .gallery__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  